.footer-section {
  background: #031f2a;
  padding: 40px 30px;
  color: white;
  margin-top: 80px;
}

.footer {
  display: flex;
  justify-content: space-between;
 
  gap: 40px;
  flex-wrap: wrap;
}

/* Logo text */
.footer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Paragraph text */
.footer p {
  color: rgb(180,180,180);
  font-size: 15px;
  line-height: 22px;
}
.footer h4{
    font-size: 10px;
    color:rgb(248, 140, 90);
}
/* Icons row */
.icons {
  display: flex;
  gap: 18px;
  margin-top: 15px;
}

.icons a {
  color: white;
  font-size: 22px;
  transition: 0.3s;
}

.icons a:hover {
  color: rgb(234,118,63);
  transform: scale(1.1);
}

/* Links section */
.footer h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin: 8px 0;
}

.footer ul li a {
  color: rgb(200,200,200);
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}

.footer ul li a:hover {
  color: rgb(234,118,63);
}

/* Bottom copyright area */
.footer-bottom {
  margin-top: 30px;
  text-align: center;
}

.footer-bottom hr {
  border: none;
  height: 1px;
  background: rgb(80,80,80);
  margin-bottom: 10px;
}

.footer-bottom p {
  color: rgb(150,150,150);
  font-size: 14px;
}
