
.practice-container {
  margin-top: 40px;
  width: 90%;
  max-width: 800px;
  margin-inline: auto;
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
}

/* Heading */
.practice-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.practice-title span {
  color: rgb(234,118,63);
}

/* Paragraphs */
.practice-desc {
  color: rgb(200,200,200);
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* Note Box */
.note-box {
  margin-top: 20px;
  padding: 15px 20px;
  background: rgba(234,118,63,0.1);
  border-left: 4px solid rgb(234,118,63);
  border-radius: 8px;
  text-align: left;
  color: #ddd;
}

.note-box .highlight {
  color: rgb(234,118,63);
  font-weight: bold;
}
/*pracrice section*/
.practice-category{
    display:flex;
    margin-left: 20px;
}

.practice-category div {
  margin-left: 20px;
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 12px;
  width: 250px;
  margin:10px;
   border: 2px solid transparent;
  transition: 0.2s ease;
}

.practice-category div:hover{
border-color: rgb(234,118,63);
  background: rgba(255,255,255,0.08);
}
@media (max-width: 768px) {
  .practice-category {
    flex-direction: column;
    align-items: center;
  }

  .practice-category div {
    width: 90%;
  }
}

.practice-category div p{
  font-size: 14px;
   line-height: 1.5;
}
/*buttons*/

.easy{
  background-color: rgb(20 83 45);
  color:rgb(74 222 128);
  font-size: 18px;
  border-radius:15px;
  font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}
.medium{
  background-color: rgb(113 63 18);
  color:rgb(250 204 21);
  font-size: 18px;
  border-radius:15px;
  font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}
.hard{
  background-color: rgb(127 29 29);
  color:rgb(248 113 113);
  font-size: 18px;
  border-radius:15px;
  font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.btn-row {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  background: none !important;
  border: none !important;
}
.btn-row:hover {
  background: none !important;
  border: none !important;
}
.easy:hover,.medium:hover,.hard:hover{
  color: white;
}
