/* ===== Global Dark Theme ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background:#021820;
  color: rgb(250,250,250);
 font-family: "DM Sans", sans-serif;
}

